* {
    box-sizing: border-box;
}

.hidden
{
    color: #266e8a00;
}

body {
    background: #030203 url("img/back.png") no-repeat fixed;
    background-size: cover;
    color: #f1ebeb;
    font-family: "Share Tech Mono", monospace;
    height: 100%;
    
}

nav a {
    color: #f1ebeb;
}

a {
    text-decoration: none;
    color: #ff89ef;
}

a:hover {
    color: #f1ebeb;
}

.ar {
    background: #2e264be1;
    padding: 2vw;
    height: 45vw;
    width: 77vw;
    margin-top: 1vw;
    float: right;
    font-size: 1vw;
    
}

.navbar {
    padding: 1.5vw;
}

.navbar:hover {
    background: #b058a1;
}

nav {
    margin-top: 0;
    background: #712263;
    font-size: 1.5vw;
    padding: 1vw;
}

aside {
    background: #266e8ad7;
    width: 20vw;
    height: 16vw;
    float: left;
    padding: 1vw;
    font-size: 1vw;
    margin-top: 1vw;
}

.dreamteam {
    background: #266e8ad7;
    width: 20vw;
    height: 18vw;
    float: left;
    padding: 1vw;
    font-size: 1vw;
    margin-top: 1vw;
    position: static;
}

.uk {
    background: #041d5fd7;
    width: 20vw;
    height: 10vw;
    float: left;
    padding: 1vw;
    font-size: 1.3vw;
    margin-top: 1vw;
    position: static;
}

.uk a{
    color: #ff89ef;
}